@inherits Umbraco.Web.Mvc.UmbracoViewPage<HighlyDeveloped.Core.ViewModel.ForgottenPasswordViewModel>
@using HighlyDeveloped.Core.Controllers
<!-- Are we already logged in?-->
<!-- Just show message-->
@if (Umbraco.MemberIsLoggedOn())
{
    <h2>You are already logged in</h2>
}
else if (TempData["status"] != null && (string)TempData["status"] == "OK")
{
    <!--Success Message-->
    <!-- Email has been sent -->
    <p>
        An Email has been sent to the email address you provided. Please follow
        the instructions therin.
    </p>
}
else
{
    <!-- Show the form -->
    <div class="container">
        <div class="row">
            <div class="col">
                @using (Html.BeginUmbracoForm<LoginController>("HandleForgottenPassword"))
                {
                    Html.EnableClientValidation();
                    Html.EnableUnobtrusiveJavaScript();
                    <p>Enter your email address and we will send you a link to reset your passsword.</p>
                    @Html.AntiForgeryToken()
                    @Html.LabelFor(m =>m.EmailAddress)
                    @Html.TextBoxFor(m => m.EmailAddress, new { placeholder = "EmailAddress"})
                    
                    <button name="submit" type="submit" class="btn btn-primary">Submit</button>
                }
                <a href="/Login">Back to Login</a>
            </div>
        </div>
    </div>
}


